@{
    ViewBag.Title = "SignalR Backend";
}

<div>
    <h2>SignalR-powered Backend</h2>
    Bienvenue! This is your SignalR backend Server - a simple ASP.NET MVC 3 site running SignalR Hubs. This server acts as the backend/cloud service for real-time applications across web and mobile devices on various platforms! 
    <br /><br />
    <div>
    <a href="@Url.Action("Map")"><img src="../../Content/tiles/Map.png" alt="map tile" /></a>
    &nbsp;&nbsp;
    <a href="@Url.Action("Chat")"><img src="../../Content/tiles/Chat.png" alt="chat tile" /></a>
    &nbsp;&nbsp;
    <a href="@Url.Action("GameScore")"><img src="../../Content/tiles/GameScore.png" alt="game score tile" /></a>
    &nbsp;&nbsp;
    <a href="@Url.Action("Object")"><img src="../../Content/tiles/Object.png" alt="object tile" /></a>
    </div>
</div>

